<body>
  <header>
    <div class="menu container">
      <img class="logo-1" src="../assets/../assets/images/logo.svg" alt="" />
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img class="menu-icono" src="../assets/images/menu.png" alt="" />
      </label>
      <nav class="navbar">
        <div class="menu-1">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Productos</a></li>
          </ul>
        </div>
        <img class="logo-2" src="../assets/images/logo.svg" alt="" />
        <div class="menu-2">
          <ul>
            <li><a href="#">Horario</a></li>
          </ul>
          <div class="socials">
            <a href="#">
              <div class="social">
                <img src="../assets/images/s1.svg" alt="" />
              </div>
            </a>
            <a href="#">
              <div class="social">
                <img src="../assets/images/s2.svg" alt="" />
              </div>
            </a>
            <a href="#">
              <div class="social">
                <img src="../assets/images/s3.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="header-content container">
      <div class="swiper mySwiper-1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slider">
              <div class="slider-txt">
                <h1>Hamburguesa</h1>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptatibus facilis quibusdam libero magni eligendi dolores,
                  eum architecto, sint dolor laboriosam minus error? Itaque
                  vitae recusandae aliquam magni, impedit explicabo accusamus.
                </p>
                <div class="botones">
                  <a href="#" class="btn-1">Comprar</a>
                  <a href="#" class="btn-1">Menú</a>
                </div>
              </div>
              <div class="slider-img">
                <img src="../assets/images/slider1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider">
              <div class="slider-txt">
                <h1>Torta</h1>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptatibus facilis quibusdam libero magni eligendi dolores,
                  eum architecto, sint dolor laboriosam minus error? Itaque
                  vitae recusandae aliquam magni, impedit explicabo accusamus.
                </p>
                <div class="botones">
                  <a href="#" class="btn-1">Comprar</a>
                  <a href="#" class="btn-1">Menú</a>
                </div>
              </div>
              <div class="slider-img">
                <img src="../assets/images/slider2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider">
              <div class="slider-txt">
                <h1>Hamburguesa</h1>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptatibus facilis quibusdam libero magni eligendi dolores,
                  eum architecto, sint dolor laboriosam minus error? Itaque
                  vitae recusandae aliquam magni, impedit explicabo accusamus.
                </p>
                <div class="botones">
                  <a href="#" class="btn-1">Comprar</a>
                  <a href="#" class="btn-1">Menú</a>
                </div>
              </div>
              <div class="slider-img">
                <img src="../assets/images/slider3.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </header>

  <main class="products">
    <div class="tabs container">
      <!-- categorias de productos -->
      <input
        type="radio"
        name="tabs"
        id="tab1"
        checked="checked"
        class="tabInput"
        value="1"
      />
      <label for="tab1">Hamburguesa</label>
      <div class="tab">
        <div class="swiper mySwiper-2" id="swiper1">
          <div class="swiper-wrapper">
            <!-- menu de productos -->
            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food1.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calidad premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food2.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calida premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food3.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calid premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <input
        type="radio"
        name="tabs"
        id="tab2"
        checked="checked"
        class="tabInput"
        value="2"
      />
      <label for="tab2">Burritos</label>
      <div class="tab">
        <div class="swiper mySwiper-2" id="swiper2">
          <div class="swiper-wrapper">
            <!-- menu de productos -->
            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food4.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calidad premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food5.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calida premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food6.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calid premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

      <input
        type="radio"
        name="tabs"
        id="tab3"
        checked="checked"
        class="tabInput"
        value="3"
      />
      <label for="tab3">Variedad</label>
      <div class="tab">
        <div class="swiper mySwiper-2" id="swiper3">
          <div class="swiper-wrapper">
            <!-- menu de productos -->
            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food7.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calidad premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food8.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calida premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product">
                <div class="product-img">
                  <h4>Nuevo</h4>
                  <img src="../assets/images/food9.png" alt="" />
                </div>
                <div class="product-txt">
                  <h4>Producto</h4>
                  <p>Calid premium</p>
                  <span class="price">$80.00</span>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </main>

  <section class="info container">
    <div class="info-img">
      <img src="../assets/images/info.png" alt="" />
    </div>
    <div class="info-txt">
      <h2>Informacion</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed incidunt
        laboriosam in atque harum tenetur, modi eaque ipsa quibusdam itaque
        aperiam iure obcaecati reiciendis, at, illo consequatur laborum
        asperiores tempore.
      </p>
      <a href="#" class="btn-2">Mas informacion</a>
    </div>
  </section>
  <section class="horario">
    <div class="horario-info container">
      <h2>Horario</h2>
      <div class="horario-txt">
        <div class="txt">
          <h4>Direcion</h4>
          <p>cualquier direccion</p>
          <p>otra direccion</p>
        </div>
        <div class="txt">
          <h4>Horario</h4>
          <p>Lunes a Viernes: 9am - 9pm</p>
          <p>Sábados y Domingos: 11am - 4pm</p>
        </div>
        <div class="txt">
          <h4>Teléfono</h4>
          <p>999 999 999</p>
          <p>999 123 123</p>
        </div>
        <div class="txt">
          <h4>Redes Sociales</h4>
          <div class="socials">
            <a href="#">
              <div class="social">
                <img src="../assets/images/s1.svg" alt="" />
              </div>
            </a>
            <a href="#">
              <div class="social">
                <img src="../assets/images/s2.svg" alt="" />
              </div>
            </a>
            <a href="#">
              <div class="social">
                <img src="../assets/images/s3.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.0216653623165!2d-74.22650922185534!3d-13.161033374498441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91127d88f5b2bee9%3A0xe9b3cb843a70a16e!2sAyacucho!5e0!3m2!1ses-419!2spe!4v1718057522366!5m2!1ses-419!2spe"
      width="100%"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>

  <section>
    <footer class="footer container">
      <img class="logo-2" src="../assets/images/logo.svg" alt="" />
      <div class="links">
        <h4>Lorem</h4>
        <ul>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>Lorem</h4>
        <ul>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>Lorem</h4>
        <ul>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
          <li><a href="#">lorem</a></li>
        </ul>
      </div>
      <div class="links">
        <h4>Lorem</h4>
        <div class="socials">
          <a href="#">
            <div class="social">
              <img src="../assets/images/s1.svg" alt="" />
            </div>
          </a>
          <a href="#">
            <div class="social">
              <img src="../assets/images/s2.svg" alt="" />
            </div>
          </a>
          <a href="#">
            <div class="social">
              <img src="../assets/images/s3.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
    </footer>
  </section>
</body>
